<!-- app/views/messages/_message.html.erb -->

<div class="messages-container">
   <% @messages&.each do |message| %>
    <div class="message <%= message.user_id == current_user.id ? 'right' : 'left' %>">
    <strong><%= message.user.email %>:</strong>
      <p><%= message.content %></p>
        <p class="text-muted" ><%= message.created_at.strftime("%I:%M %p") %></p>
    </div>
    <% end %>
</div>
