<!-- app/views/messages/index.html.erb -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Messages</h1>
    <div id="messages">
      <% if @messages&.any? %>
        <%= render @messages, current_user: current_user %>
      <% else %>
        <p>No messages yet.</p>
      <% end %>
    </div>

    <%= form_with(model: [ @conversation, @conversation.messages.build ]) do |form| %>
      <div class="form-group">
        <%= form.text_area :content, class: 'form-control', id: 'message_content', class: 'form-control mx-3 my-4' %>
      </div>
      <%= form.submit 'Send', class: 'btn btn-primary mx-3 my-4' %>
    <% end %>
    </div>
  </div>
</div>