<section class= "background-section">
    <%# <h1 class= "text-center text-white">Welcome to Connectify</h1> %>
    <img src="https://www.techsmith.com/blog/wp-content/uploads/2016/08/citylarge.gif" alt="" class= "fixed-background-vdo" >
</section>
