<body class="d-flex flex-column min-vh-100"> 
<footer class="footer bg-success mt-auto"> 
        <div class="container"> 
            <div class="row"> 
                <div class="col-md-3 mt-3"> 
                    <h2>connectyfy</h2> 
                </div> 
                <div class="col-md-3 mt-3"> 
                    <h5>About Us</h5> 
                    <p> 
                        Connectify is a cutting-edge application designed to
                        bring people together. Whether you're collaborating 
                        on a project, catching up with friends, or networking 
                        professionally, Connectify provides the tools you need 
                        to stay connected. 
                   </p> 
                </div> 
                <div class="col-md-3 mt-3"> 
                    <h5>Contact Us</h5> 
                    <ul class="list-unstyled"> 
                        <li>Email: info@example.com</li> 
                        <li>Phone: +1233567890</li> 
                        <li>Address: 123 Street, City, Country</li> 
                    </ul> 
                </div> 
                <div class="col-md-3 mt-3"> 
                    <h5>Follow Us</h5> 
                    <ul class="list-inline footer-links"> 
                        <li class="list-inline-item"> 
                            <a href="#"> 
                                <i class="fab fa-facebook"></i> 
                            </a> 
                        </li> 
                        <li class="list-inline-item"> 
                            <a href="#"> 
                                <i class="fab fa-twitter"></i> 
                            </a> 
                        </li> 
                        <li class="list-inline-item"> 
                            <a href="#"> 
                                <i class="fab fa-instagram"></i> 
                            </a> 
                        </li> 
                        <li class="list-inline-item"> 
                            <a href="#"> 
                                <i class="fab fa-linkedin"></i> 
                            </a> 
                        </li> 
                    </ul> 
                </div> 
            </div> 
            <hr> 
            <div class="row"> 
                <div class="col-md-6 mt-3"> 
                    <p>© 2024 Your Website. All rights reserved.</p> 
                </div> 
                <div class="col-md-6 text-end mt-3"> 
                    <ul class="list-inline footer-links"> 
                        <li class="list-inline-item"> 
                            <a href="#">Privacy Policy</a> 
                        </li> 
                        <li class="list-inline-item"> 
                            <a href="#">Terms of Service</a> 
                        </li> 
                        <li class="list-inline-item"> 
                            <a href="#">Sitemap</a> 
                        </li> 
                    </ul> 
                </div> 
            </div> 
        </div> 
    </footer> 
    
</body>