<section class="post-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
            <h1 class="text-center mt-5">Posts</h1>
      </div>
    </div>
  </div>
</section>

<section class="all-posts-section">
  <div class="row">
    <div class="col-lg-12">
      <div id="posts">
        <% @posts.each do |post| %>
          <%= render post %>
          <p>
            <%= link_to "Show this post", post %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>
