<section class="section-height-width">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
            <h1 class="text-center mt-5">Connectyfy <%= current_user.email %> Profile</h1>
            <%= link_to "New post", new_post_path %> 
      </div>
    </div>
  </div>
</section>
